	h1 {
		font-size:40px; 
		font-family: Arial, sans-serif;
		color: white;
		text-align:center;
	}
	h2{
		font-size:30px; 
		font-family: Arial, sans-serif;
		color: white;
		text-align:center;
	}
	p{
		text-indent: 1.5em;
		font-size:22px; 
		font-family: Comic Sans MS, Comic Sans, cursive;
		color: white;
		text-align:justify;
		margin-left:90px;
		margin-right:90px;
		margin-top:0px;
		margin-bottom:0px;
	}
   .rightimgp  {
	opacity: 0.85;
    float: right;
	padding: 25px;
    background: #C9E3D1;
   }
   .leftimgp  {
	opacity: 0.85;
    float: left;
	margin-right: 1%;
   }
   .centerimgp  {
	opacity: 0.85;
    float: left;
	padding: 25px;
    background: #C9E3D1;
   }
   .layer {
    background: #696969; 
    padding: 20px;
	overflow: hidden;	
   }
   header{
    background: #696969;
   }
   section {
   display: flex;
   }
   .w50 {
   width:50%;
   }
   a{
	text-decoration:none;
   }
   .w10 {
   width:10%;
   }
   .w90 {
   width:90%;
   }
   
